{
    "presets": ["next/babel"],
    "env": {
      "test": {
        "plugins": [
          ["astroturf/plugin", {
              "allowGlobal": true,
              "writeFiles": false
          }]
        ]
      }
    }
  }
  